.hero {
  padding-top: 95px;
  padding-bottom: 60px;
  text-align: center;
}

.hero__container {
}

.hero__content {
}

.hero__subtitle {
}

.hero__title {
}

.text-accent {
}

.hero__description {
}

.hero__text {
}

.hero__links {
}

.hero__link-item {
}

.hero__link {
}

.hero__button {
}

.hero__watch-video-icon {
}

.hero__image-container {
}

.hero__image {
}

.hero__stats {
}

.hero__clients-count {
}

.hero__clients-location {
}

.hero__expert {
}

.hero__expert-photo {
}

.hero__expert-text {
}

.hero__expert-link {
}

.hero__cta {
}

.hero__cta-text {
}

.hero__cta-link {
}
